{% extends "core/base.html" %}

{% block contenido %}
  <div class="container">
    <div class="row">
      <div class="col-1"></div>
      <div class="col-10">
        {% for competicion in competicion_list %}
          <div class="card mb-3" style="max-width: 1200px;">
            <div class="row g-0">
              <div class="col-4">
                {% if competicion.foto %}
                  <img src="{{ competicion.foto.url }}" class="img-fluid rounded-start" alt="imagen de {{ competicion.nombre }}">
                {% endif %}
              </div>
              <div class="col-8">
                <div class="card-body">
                  <a href="{% url 'competicionDetalle' competicion.id %}"><h5 class="card-title">{{ competicion.nombre }} </h5></a>
                  <p class="card-text">Lugar: {{ competicion.lugar }}</p>
                  <p class="card-text">Fecha de creacion: {{ competicion.fechaCreacion }}</p>

                  {% if competicion.responsable == request.user %}
                    <p class="card-text">
                      <small class="text-muted">
                        <a href="{% url 'borrarCompeticion' competicion.id %}">borrar</a>
                      </small>
                    </p>
                    <p class="card-text">
                      <small class="text-muted">
                        <a href="{% url 'modificarCompeticion' competicion.id %}">modificar</a>
                      </small>
                    </p>
                  {% endif %}
                </div>
              </div>
            </div>
          </div>
        {% endfor %}
      </div>
      <div class="col-1"></div>
    </div>
  </div>
{% endblock %}