{% extends "core/base.html" %}

{% block contenido %}
  <div class="container mt-5">
    <form method="post" enctype="multipart/form-data">
      {% csrf_token %}
      <div class="mb-3">
        <label for="{{ form.nombre.id_for_label }}" class="form-label">Nombre del Equipo:</label>
        {{ form.nombre }}
      </div>
      <div class="mb-3">
        <label for="{{ form.categoria.id_for_label }}" class="form-label">Categoría:</label>
        {{ form.categoria }}
      </div>
      <div class="mb-3">
        <label for="{{ form.competicion.id_for_label }}" class="form-label">Competicion:</label>
        {{ form.competicion }}
      </div>
      <div class="mb-3">
        <label for="{{ form.fechaCreacion.id_for_label }}" class="form-label">Fecha de Creación:</label>
        {{ form.fechaCreacion }}
      </div>
      <div class="mb-3">
        <label for="{{ form.foto.id_for_label }}" class="form-label">Foto:</label>
        {{ form.foto }}
      </div>
      <input type="submit" class="btn btn-primary" value="Crear">
    </form>
  </div>
{% endblock %}